ion-toolbar {
  --background: #0a192f;
  color: var(--ion-color-primary);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

ion-title {
  font-weight: 600;
}

ion-button {
  color: var(--ion-text-color);
  font-weight: 500;
  --background: transparent;
}

ion-button:hover {
  color: var(--ion-color-primary);
}
