ion-toolbar {
  --background: var(--header-background);
  color: var(--ion-text-color);
  box-shadow: none;
}

ion-title {
  font-weight: 600;
  font-family: 'Fira Code', monospace;
  color: var(--ion-color-primary);
}

ion-button {
  color: var(--ion-text-color);
  font-weight: 500;
  font-family: 'Fira Code', monospace;
}

ion-button:hover {
  color: var(--ion-color-primary);
}
