<div class="contact-page">
  <ion-card class="fadeInUp custom-card">
    <ion-card-header>
      <ion-card-title>Contáctame</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="contact-card">
        <div class="logo-container">
          <img src="../../../assets/logo/logo-jnvr.png" alt="Logo" class="logo">
        </div>
        <div class="contact-info">
          <ion-list lines="none">
            <!-- Correo -->
            <ion-item>
              <ion-icon src="../../../assets/icons-extras/mail-outline.svg" slot="start" color="primary"></ion-icon>
              <ion-label>
                <a href="mailto:jonathan.viramontes.ramirez@gmail.com">
                  jonathan.viramontes.ramirez&#64;gmail.com
                </a>
              </ion-label>
            </ion-item>

            <!-- LinkedIn -->
            <ion-item>
              <ion-icon src="../../../assets/icons-extras/logo-linkedin.svg" slot="start" color="primary"></ion-icon>
              <ion-label>
                <a href="https://linkedin.com/in/jonathan-noe-viramontes-ramirez-7b708b162"
                   target="_blank"
                   rel="noopener noreferrer">
                  LinkedIn
                </a>
              </ion-label>
            </ion-item>

            <!-- GitHub -->
            <ion-item>
              <ion-icon src="../../../assets/icons-extras/logo-github.svg" slot="start" color="primary"></ion-icon>
              <ion-label>
                <a href="https://github.com/jnvr1/jnvr1"
                   target="_blank"
                   rel="noopener noreferrer">
                  GitHub
                </a>
              </ion-label>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</div>
