.timeline {
  position: relative;
  padding: 2rem 0;
  margin: 0 auto;
  max-width: 800px;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #ccc;
}

.timeline-item {
  position: relative;
  padding-left: 50px;
  margin-bottom: 2rem;
}

.timeline-marker {
  position: absolute;
  left: 10px;
  top: 0;
  width: 20px;
  height: 20px;
  background: #007bff;
  border-radius: 50%;
}

.timeline-content {
  background: #112240f2;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-decoration: none;  /* Elimina el subrayado */
  color: inherit;         /* Mantiene el color del texto */
  transition: background 0.3s;
}

.timeline-content:hover {
  background: linear-gradient(135deg, #2f87b085 30%, #1c5c8a70 100%);
}

.timeline-content h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #e9e9e9;
}

.timeline-content h3 {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  color: #d3d3d3;
}

.timeline-info {
  font-size: 0.9rem;
  color: #e7e7e7;
  margin-bottom: 0.5rem;
}

.timeline-content ul {
  margin: 0.5rem 0 0;
  padding-left: 1.2rem;
}

.timeline-content li {
  margin-bottom: 0.5rem;
  font-size: 0.95rem;
  line-height: 1.4;
}
.timeline-item-link{
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}

.skills-chips{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}
.chip{
  background: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-size: 0.9rem;
  display: inline-block;
  text-align: center;
  transition: background 0.3s;
}
