<h2 class="numbered-heading">Experiencia Laboral</h2>
<div>
  <div class="timeline">
    <!-- Fletes México -->
    <a href="https://www.fletes-mexico.com" target="_blank" class="timeline-item-link">
      <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
          <h2>Fletes México</h2>
          <h3>Desarrollador de Software</h3>
          <p class="timeline-info">Ciudad Juárez, México (Remoto) | Ene 2023 – Presente</p>
          <ul>
            <li>Diseñé e implementé más de 10 microservicios backend utilizando FastAPI, mejorando la escalabilidad.
            </li>
            <li>Incrementé la eficiencia operativa en un 25% mediante herramientas de software personalizadas.</li>
            <li>Creé tableros en Power BI para ofrecer información accionable a los principales interesados.</li>
          </ul>
          <div>
            <ion-chip color="primary">
              <ion-label>Python</ion-label>
            </ion-chip>
            <ion-chip color="primary">
              <ion-label>FastAPI</ion-label>
            </ion-chip>
            <ion-chip color="primary">
              <ion-label>Power BI</ion-label>
            </ion-chip>
            <ion-chip color="primary">
              <ion-label>Ionic</ion-label>
            </ion-chip>
            <ion-chip color="primary">
              <ion-label>SQL</ion-label>
            </ion-chip>
            <ion-chip color="primary">
              <ion-label>GitLab</ion-label>
            </ion-chip>
            <ion-chip color="primary">
              <ion-label>Linux</ion-label>
            </ion-chip>
          </div>
        </div>
      </div>
    </a>

    <!-- Museo La Rodadora - Coordinador de Sistemas -->
    <a href="https://www.larodadora.org" target="_blank" class="timeline-item-link">
      <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
          <h2>Museo La Rodadora</h2>
          <h3>Coordinador de Sistemas</h3>
          <p class="timeline-info">Ciudad Juárez, México | Ene 2021 – Dic 2023</p>
          <ul>
            <li>Desarrollé software interactivo que incrementó la participación de los visitantes en un 15%.</li>
            <li>Mejoré la confiabilidad de la red en un 30% mediante actualizaciones de sistemas de TI.</li>
            <li>Proveí soporte técnico mensual a más de 40 usuarios, asegurando la continuidad del sistema.</li>
          </ul>
          <div>
            <ion-chip color="primary">
              <ion-label>CCTV</ion-label>
            </ion-chip>
            <ion-chip color="primary">
              <ion-label>Cableado Estructurado</ion-label>
            </ion-chip>
            <ion-chip color="primary">
              <ion-label>Soporte</ion-label>
            </ion-chip>
            <ion-chip color="primary">
              <ion-label>Ionic</ion-label>
            </ion-chip>
            <ion-chip color="primary">
              <ion-label>Administración y Gestión de Redes</ion-label>
            </ion-chip>
          </div>
        </div>

      </div>
    </a>

    <!-- Museo La Rodadora - Practicante -->
    <a href="https://www.larodadora.org" target="_blank" class="timeline-item-link">
      <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
          <h2>Museo La Rodadora</h2>
          <h3>Practicante</h3>
          <p class="timeline-info">Ciudad Juárez, México | Ene 2020 – Dic 2020</p>
          <ul>
            <li>Creé un sistema interactivo de lotería que mejoró la participación de los visitantes.</li>
            <li>Desarrollé un sistema personalizado para la gestión de eventos en el museo.</li>
          </ul>
          <div>
            <ion-chip color="primary">
              <ion-label>Ionic</ion-label>
            </ion-chip>
          </div>
        </div>
      </div>
    </a>
    <!-- IA-Center -->
    <a href="https://www.ia.center" target="_blank" class="timeline-item-link">
      <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
          <h2>IA-Center</h2>
          <h3>Instructor de Python (Remoto)</h3>
          <p class="timeline-info">2021</p>
          <ul>
            <li>Impartí cursos de programación en Python a más de 40 estudiantes, logrando un índice de éxito del 90%.
            </li>
          </ul>
          <div>
            <ion-chip color="primary">
              <ion-label>Python</ion-label>
            </ion-chip>
            <ion-chip color="primary">
              <ion-label>Remote Teaching</ion-label>
            </ion-chip>
          </div>
        </div>
      </div>
    </a>

    <!-- Bloomotion -->
    <a href="https://www.bloomotion.tech" target="_blank" class="timeline-item-link">
      <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
          <h2>Bloomotion</h2>
          <h3>Desarrollador de Software (Remoto)</h3>
          <p class="timeline-info">2019 – 2021</p>
          <ul>
            <li>Desarrollé una aplicación móvil publicada en la Playstore.</li>
            <li>Integré sistemas logísticos con Penske Logistics y Assistcargo para optimizar flujos de trabajo.</li>
          </ul>
          <div>
            <ion-chip color="primary">
              <ion-label>Ionic</ion-label>
            </ion-chip>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
