<ion-header>
  <ion-toolbar>
    <ion-title>Experiencia</ion-title>
  </ion-toolbar>
</ion-header>

<div class="fadeInUp">
  <!-- Fletes México -->
  <ion-accordion-group>
    <!-- Fletes México -->
    <ion-accordion value="fletes">
      <ion-item slot="header" color="light">
        <ion-label>
          <h2>Fletes México</h2>
          <p>Desarrollador de Software<br>
            Ciudad Juárez, México (Remoto) | Ene 2023 – Presente</p>
        </ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list>
          <ion-item>Diseñé e implementé más de 10 microservicios backend utilizando FastAPI, mejorando la escalabilidad.</ion-item>
          <ion-item>Incrementé la eficiencia operativa en un 25% mediante herramientas de software personalizadas.</ion-item>
          <ion-item>Creé tableros en Power BI para ofrecer información accionable a los principales interesados.</ion-item>
        </ion-list>
      </div>
    </ion-accordion>

    <!-- Museo La Rodadora - Coordinador de Sistemas -->
    <ion-accordion value="museo-coordinador">
      <ion-item slot="header" color="light">
        <ion-label>
          <h2>Museo La Rodadora</h2>
          <p>Coordinador de Sistemas<br>
            Ciudad Juárez, México | Ene 2021 – Dic 2023</p>
        </ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list>
          <ion-item>Desarrollé software interactivo que incrementó la participación de los visitantes en un 15%.</ion-item>
          <ion-item>Mejoré la confiabilidad de la red en un 30% mediante actualizaciones de sistemas de TI.</ion-item>
          <ion-item>Proveí soporte técnico mensual a más de 40 usuarios, asegurando la continuidad del sistema.</ion-item>
        </ion-list>
      </div>
    </ion-accordion>

    <!-- Museo La Rodadora - Practicante -->
    <ion-accordion value="museo-practicante">
      <ion-item slot="header" color="light">
        <ion-label>
          <h2>Museo La Rodadora</h2>
          <p>Practicante<br>
            Ciudad Juárez, México | Ene 2020 – Dic 2020</p>
        </ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list>
          <ion-item>Creé un sistema interactivo de lotería que mejoró la participación de los visitantes.</ion-item>
          <ion-item>Desarrollé un sistema personalizado para la gestión de eventos en el museo.</ion-item>
        </ion-list>
      </div>
    </ion-accordion>

    <!-- IA-Center -->
    <ion-accordion value="iacenter">
      <ion-item slot="header" color="light">
        <ion-label>
          <h2>IA-Center</h2>
          <p>Instructor de Python (Remoto)<br>2021</p>
        </ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list>
          <ion-item>Impartí cursos de programación en Python a más de 40 estudiantes, logrando un índice de éxito del 90%.</ion-item>
        </ion-list>
      </div>
    </ion-accordion>

    <!-- Bloomotion -->
    <ion-accordion value="bloomotion">
      <ion-item slot="header" color="light">
        <ion-label>
          <h2>Bloomotion</h2>
          <p>Desarrollador de Software (Remoto)<br>2019 – 2021</p>
        </ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list>
          <ion-item>Desarrollé una aplicación móvil publicada en la Playstore.</ion-item>
          <ion-item>Integré sistemas logísticos con Penske Logistics y assistcargo para optimizar flujos de trabajo.</ion-item>
        </ion-list>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</div>
