<ion-content fullscreen class="ion-padding">
  <h2 class="numbered-heading">Sobre Mí</h2>
  <div class="about-page">
    <!-- Tarjeta principal con animación de aparición -->
    <ion-card class="fadeInUp">
      <!-- Imagen/Logo -->
      <ion-img src="assets/logo/logo-jnvr.svg" alt="JNVR Logo" class="animate-image"></ion-img>

      <!-- Contenido principal -->
      <ion-card-content>
        <!-- Contenedor para el texto animado usando *ngFor -->
        <div class="hero-text">
          <ng-container *ngFor="let word of words; let i = index">
            <span [ngClass]="{'visible': i < visibleWordsCount}" class="word">{{ word }}</span>
            <!-- Si no es la última palabra, se inserta un espacio -->
            <ng-container *ngIf="i < words.length - 1">&nbsp;</ng-container>
          </ng-container>
        </div>
      </ion-card-content>
    </ion-card>
    <div class="cta-container">
      <ion-button color="primary" routerLink="/contact">Contáctame</ion-button>
    </div>
  </div>
  <app-projects class="hero fadeInUp"></app-projects>
  <app-experience class="hero fadeInUp"></app-experience>
  <app-contact class="hero fadeInUp"></app-contact>
</ion-content>
