.hero {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
}

.about-page {
  text-align: center;

  ion-card {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--ion-background-color);
    box-shadow: none; /* Remove the shadow */
  }

  ion-img {
    width: 100%;
    height: auto;
    margin: 1rem;
    display: block;
    order: 2;
  }

  ion-card-content {
    order: 1; /* Ensure the text is on the left */

    .hero-text {
      font-size: 1.2rem;
      line-height: 1.4;
      text-align: justify;
      min-height: 5rem; /* Para mantener una altura estable */
      color: var(--ion-text-color);
    }
  }

  @media (max-width: 768px) {
    ion-card {
      flex-direction: column;
    }

    ion-img {
      order: 1;
    }

    ion-card-content {
      order: 2;
    }
  }
}

/* Estilos para cada palabra */
.word {
  display: inline-block;
  opacity: 0;
  transform: translateX(0.5rem);
  transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 0.6s ease-in-out;
}

/* Cuando la palabra se vuelve visible */
.word.visible {
  transform: translateX(0);
  opacity: 1;
}

/* Animación para la tarjeta (fadeInUp) */
.fadeInUp {
  animation: fadeInUp 0.8s ease-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Ejemplo de animación para la imagen */
.animate-image {
  animation: fadeInUp 0.8s ease-out forwards;
}
