<div>


  <!-- Lenguajes de Programación -->
  <ion-card class="fadeInUp">
    <ion-card-header>
      <ion-card-title>Lenguajes de Programación</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-chip color="primary">
        <ion-label>Python</ion-label>
      </ion-chip>
      <ion-chip color="primary">
        <ion-label>JavaScript</ion-label>
      </ion-chip>
      <ion-chip color="primary">
        <ion-label>TypeScript</ion-label>
      </ion-chip>
      <ion-chip color="primary">
        <ion-label>SQL</ion-label>
      </ion-chip>
      <ion-chip color="primary">
        <ion-label>C</ion-label>
      </ion-chip>
      <ion-chip color="primary">
        <ion-label>C++</ion-label>
      </ion-chip>
    </ion-card-content>
  </ion-card>

  <!-- Frameworks y Librerías -->
  <ion-card class="fadeInUp">
    <ion-card-header>
      <ion-card-title>Frameworks y Librerías</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-chip color="secondary">
        <ion-label>FastAPI</ion-label>
      </ion-chip>
      <ion-chip color="secondary">
        <ion-label>Ionic-Angular</ion-label>
      </ion-chip>
      <ion-chip color="secondary">
        <ion-label>Power BI</ion-label>
      </ion-chip>
      <!-- Agrega más según tus conocimientos -->
    </ion-card-content>
  </ion-card>

  <!-- Herramientas -->
  <ion-card class="fadeInUp">
    <ion-card-header>
      <ion-card-title>Herramientas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-chip color="success">
        <ion-label>Git</ion-label>
      </ion-chip>
      <ion-chip color="success">
        <ion-label>GitHub</ion-label>
      </ion-chip>
      <ion-chip color="success">
        <ion-label>GitLab</ion-label>
      </ion-chip>
      <ion-chip color="success">
        <ion-label>BitBucket</ion-label>
      </ion-chip>
      <!-- Agrega más herramientas que utilices -->
    </ion-card-content>
  </ion-card>

</div>
